/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

* {
    @apply duration-150;
}

:root [data-theme='wintry'] {
    font-family: "Inter Variable", sans-serif;

    --theme-font-family-base: "Inter Variable", sans-serif;
    --theme-font-family-heading: "Outfit Variable", sans-serif;
}

html, body {
    @apply h-full overflow-hidden scroll-smooth;
}

p {
    @apply text-surface-500-400-token;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
    @apply font-bold;
}

.section-container {
    @apply container mx-auto px-8 py-28;
}

.hero-gradient {
    background-image:
            radial-gradient(at 25% 0%, rgba(var(--color-primary-500) / .1) 0px, transparent 50%),
            radial-gradient(at 75% 0%, rgba(var(--color-error-500) / .1) 0px, transparent 50%);
}

.decoration {
    @apply pointer-events-none select-none;
}
